OneC.OnBoarding/OneC.OnBoarding.WebApp/OneC.OnBoarding.WebApp/Service References/ELMService/M1088920.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/M1088920.V1" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M1088920.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CIFault" type="CIFaultTypeShape" />
  <xsd:complexType name="CIFaultTypeShape">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="IBResponse" type="IBResponseComplexTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IBResponseComplexTypeShape">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DefaultTitle" type="DefaultTitleTypeShape" />
      <xsd:element minOccurs="0" name="StatusCode" type="StatusCodeTypeShape" />
      <xsd:element minOccurs="0" name="MessageSetID" type="MessageSetIDTypeShape" />
      <xsd:element minOccurs="0" name="MessageID" type="MessageIDTypeShape" />
      <xsd:element minOccurs="0" name="DefaultMessage" type="DefaultMessageTypeShape" />
      <xsd:element minOccurs="0" name="MessageParameters" type="MessageParametersComplexTypeShape" />
    </xsd:sequence>
    <xsd:attribute name="type" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DefaultTitleTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="DefaultTitleTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StatusCodeTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="StatusCodeTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MessageSetIDTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="MessageSetIDTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MessageIDTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="MessageIDTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DefaultMessageTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="DefaultMessageTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MessageParametersComplexTypeShape">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="keyinformation" type="keyinformationComplexTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="keyinformationComplexTypeShape">
    <xsd:sequence>
      <xsd:element name="LM_PERSON_ID" type="LM_PERSON_IDTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LM_PERSON_IDTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="LM_PERSON_IDTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DefaultTitleTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StatusCodeTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MessageSetIDTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MessageIDTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DefaultMessageTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LM_PERSON_IDTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="15" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>