OneC.OnBoarding/OneC.OnBoarding.WebApp/Backup/OneC.OnBoarding.WebApp/Service References/IDMSvcRefFromIDM/Service_EUMS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cognizant.Eums.Business.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cognizant.Eums.Business.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNewHireDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewHireDetails" nillable="true" type="tns:NewHireDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewHireDetails" nillable="true" type="tns:ArrayOfNewHireDetails" />
  <xs:complexType name="NewHireDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTUALSTARTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTHENTICATIONKEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANDIDATEID" type="xs:int" />
      <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAILADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESAHIRINGMANAGERID" type="xs:int" />
      <xs:element minOccurs="0" name="FIRSTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIRETYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIDDLENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROJECTID" type="xs:int" />
      <xs:element minOccurs="0" name="PROJECTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECRUITEREMAILADDRESS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewHireDetails" nillable="true" type="tns:NewHireDetails" />
  <xs:complexType name="ArrayOfTerminationFeedDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerminationFeedDetails" nillable="true" type="tns:TerminationFeedDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminationFeedDetails" nillable="true" type="tns:ArrayOfTerminationFeedDetails" />
  <xs:complexType name="TerminationFeedDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CANDIDATEID" type="xs:int" />
      <xs:element minOccurs="0" name="LASTDATE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminationFeedDetails" nillable="true" type="tns:TerminationFeedDetails" />
</xs:schema>