OneC.OnBoarding/OneC.OnBoarding.WebApp/OneC.OnBoarding.WebApp/Service References/FileUploadService/DocumentUploadService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://onecsitcoresrvs.cognizant.com/SharedStorage/DocumentUploadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" />
  <xs:import schemaLocation="http://onecsitcoresrvs.cognizant.com/SharedStorage/DocumentUploadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OneC_GenericUploadDataContract" />
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="req" nillable="true" type="q1:FileUploadDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="UploadFileResult" nillable="true" type="q2:MFileuploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OneC_GenericUploadDataContract" minOccurs="0" name="objAppTemplateCollection" nillable="true" type="q3:AppTemplateCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OneC_GenericUploadDataContract" minOccurs="0" name="objAppTemplateCollection" nillable="true" type="q4:AppTemplateCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileURL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OneC_GenericUploadDataContract" minOccurs="0" name="objFileUploadDC" nillable="true" type="q5:FileUploadDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileURLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OneC_GenericUploadDataContract" minOccurs="0" name="GetFileURLResult" nillable="true" type="q6:FileUploadDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesForScanAndUpdateFileStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OneC_GenericUploadDataContract" minOccurs="0" name="objFileUploadCollection" nillable="true" type="q7:FileUploadCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesForScanAndUpdateFileStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="GetFilesForScanAndUpdateFileStatusResult" nillable="true" type="q8:MFileuploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileUploadDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="req" nillable="true" type="q9:FileUploadDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileUploadDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="DeleteFileUploadDetailsResult" nillable="true" type="q10:MFileuploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="objFileUploadDetailsRequest" nillable="true" type="q11:FileUploadDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="DeleteFileUploadResult" nillable="true" type="q12:MFileuploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OneC_GenericUploadDataContract" minOccurs="0" name="objFileUploadDC" nillable="true" type="q13:FileUploadDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="DownloadFileResult" nillable="true" type="q14:MFileuploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile_WithResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="req" nillable="true" type="q15:FileUploadDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile_WithResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="UploadFile_WithResponseResult" nillable="true" type="q16:MFileuploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile_WithEncryption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="req" nillable="true" type="q17:FileUploadDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile_WithEncryptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="UploadFile_WithEncryptionResult" nillable="true" type="q18:MFileuploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile_WithDecryption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/OneC_GenericUploadDataContract" minOccurs="0" name="objFileUploadDC" nillable="true" type="q19:FileUploadDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile_WithDecryptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/OneC_GenericUploadMessageContract" minOccurs="0" name="DownloadFile_WithDecryptionResult" nillable="true" type="q20:MFileuploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>