702/BuddyBLL/Service References/ServiceReferenceForMail/VAS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://onecuatcoresrvs.cognizant.com/Messaging/OneCommunicator/Notification/VAS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CTS.OneC.Messaging.Data.Contracts" />
  <xs:element name="Notify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CTS.OneC.Messaging.Data.Contracts" minOccurs="0" name="attachments" nillable="true" type="q1:ArrayOfMessageAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotifyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>