OneC.OnBoarding/OneC.OnBoarding.WebApp/OneC.OnBoarding.WebApp/Service References/Service.BGVUtilityMethods/BGVUtilityMethods.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BGVUtilityMethods" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IBGVUtilityMethods_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/" location="http://localhost:51555/ServiceHost/BGVUtilityMethods.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IBGVUtilityMethods" type="i0:IBGVUtilityMethods">
    <wsp:PolicyReference URI="#BasicHttpBinding_IBGVUtilityMethods_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchVendorDashboardData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/FetchVendorDashboardData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVendorCandidateData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/GetVendorCandidateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVendorDocListInfo">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/GetVendorDocListInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveVendorDocListInfo">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/SaveVendorDocListInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAssignVendorCandidateData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/GetAssignVendorCandidateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAssignVendorComponents">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/GetAssignVendorComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveAssignVendorCandidateData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/SaveAssignVendorCandidateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BackPapers">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/BackPapers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocListInfo">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/DocListInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ComponentData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/ComponentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveComponentData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/SaveComponentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveVerificationData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/SaveVerificationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AutoSearch">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/AutoSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateComponentData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/ValidateComponentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PersonalData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/PersonalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePersonalData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/SavePersonalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidatePersonalInfo">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/ValidatePersonalInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPagePathForRole">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/GetPagePathForRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPageNotifications">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/GetPageNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPageComparisionData">
      <soap:operation soapAction="http://onecognizant.cognizant.com/OnBoardingService/BGVUtilityMethods/ServiceContracts/IBGVUtilityMethods/GetPageComparisionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OBFaultContractFCFault">
        <soap:fault use="literal" name="OBFaultContractFCFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BGVUtilityMethods">
    <wsdl:port name="BasicHttpBinding_IBGVUtilityMethods" binding="tns:BasicHttpBinding_IBGVUtilityMethods">
      <soap:address location="http://localhost:51555/ServiceHost/BGVUtilityMethods.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>