OneC.OnBoarding/OneC.OnBoarding.WebApp/Backup4/Service References/ELMService/M893395.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/M893395.V1" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M893395.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Get__CompIntfc__CT_ELM1C" type="Get__CompIntfc__CT_ELM1CTypeShape" />
  <xsd:complexType name="Get__CompIntfc__CT_ELM1CTypeShape">
    <xsd:sequence>
      <xsd:element name="LM_PERSON_ID" type="LM_PERSON_IDTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LM_PERSON_IDTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="LM_PERSON_IDTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LM_PERSON_IDTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="15" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>