OneC.OnBoarding/OneC.OnBoarding.WebApp/OneC.OnBoarding.WebApp/Service References/Service.OBUtilityMethods/OBUtilityMethods5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.UtilityDC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.UtilityDC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRoles" nillable="true" type="tns:UserRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRoles" nillable="true" type="tns:ArrayOfUserRoles" />
  <xs:complexType name="UserRoles">
    <xs:sequence>
      <xs:element name="_x003C_RoleCountryId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleDescription_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleDetailId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleDisplayOrder_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RoleGroupCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleGroupId_x003E_k__BackingField" type="tns:RoleGroup" />
      <xs:element name="_x003C_RoleURL_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRoles" nillable="true" type="tns:UserRoles" />
  <xs:simpleType name="RoleGroup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoRole" />
      <xs:enumeration value="RC" />
      <xs:enumeration value="HRSS" />
      <xs:enumeration value="TM" />
      <xs:enumeration value="IM" />
      <xs:enumeration value="NSS" />
      <xs:enumeration value="NH" />
      <xs:enumeration value="ADMIN" />
      <xs:enumeration value="ASM" />
      <xs:enumeration value="OEPM" />
      <xs:enumeration value="SU" />
      <xs:enumeration value="VENDOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoleGroup" nillable="true" type="tns:RoleGroup" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="System" />
      <xs:enumeration value="Application" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
  <xs:complexType name="VirtualDocumentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionId" type="xs:long" />
      <xs:element minOccurs="0" name="CandidateId" type="xs:long" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element minOccurs="0" name="ECMDocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMode" type="xs:int" />
      <xs:element minOccurs="0" name="StatusFlag" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedBy" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VirtualDocumentDetail" nillable="true" type="tns:VirtualDocumentDetail" />
  <xs:complexType name="ArrayOfPageMenuMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageMenuMapping" nillable="true" type="tns:PageMenuMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageMenuMapping" nillable="true" type="tns:ArrayOfPageMenuMapping" />
  <xs:complexType name="PageMenuMapping">
    <xs:sequence>
      <xs:element name="cssClass" nillable="true" type="xs:string" />
      <xs:element name="eventOnClick" nillable="true" type="xs:string" />
      <xs:element name="menuId" type="xs:int" />
      <xs:element name="menuImage" nillable="true" type="xs:string" />
      <xs:element name="menuName" nillable="true" type="xs:string" />
      <xs:element name="menuToolTip" nillable="true" type="xs:string" />
      <xs:element name="pageUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageMenuMapping" nillable="true" type="tns:PageMenuMapping" />
  <xs:complexType name="RoleAccessDC">
    <xs:sequence>
      <xs:element name="_x003C_ActivationDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ActiveStatus_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ActiveUserId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ActiveUserName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AssociateId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_AssociateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PortFolio_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleDetailId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleGroupId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SessionId_x003E_k__BackingField" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleAccessDC" nillable="true" type="tns:RoleAccessDC" />
  <xs:complexType name="ArrayOfRoleAccessDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleAccessDC" nillable="true" type="tns:RoleAccessDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleAccessDC" nillable="true" type="tns:ArrayOfRoleAccessDC" />
  <xs:complexType name="ArrayOfRoleAssociateDc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleAssociateDc" nillable="true" type="tns:RoleAssociateDc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleAssociateDc" nillable="true" type="tns:ArrayOfRoleAssociateDc" />
  <xs:complexType name="RoleAssociateDc">
    <xs:sequence>
      <xs:element name="_x003C_AssociateId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_AssociateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Designation_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Location_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleAssociateDc" nillable="true" type="tns:RoleAssociateDc" />
  <xs:complexType name="StartDateAndLocationDC">
    <xs:sequence>
      <xs:element name="_x003C_Address1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Address2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CandidateId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_County_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DOJComments_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DOJConfirmStatus_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_FileContentId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HiringManagerComments_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HiringManagerConfirmStatus_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LocationComments_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LocationConfirmStatus_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LocationType_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_Mode_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ReportedDOJ_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SessionId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Zip_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartDateAndLocationDC" nillable="true" type="tns:StartDateAndLocationDC" />
</xs:schema>