OneC.OnBoarding/OneC.OnBoarding.WebApp/Backup5/Service References/ELMService/M817211.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/M817211.V1" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M817211.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CIFault" type="CIFaultTypeShape" />
  <xsd:complexType name="CIFaultTypeShape">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="IBResponse" type="IBResponseComplexTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IBResponseComplexTypeShape">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DefaultTitle" type="DefaultTitleTypeShape" />
      <xsd:element minOccurs="0" name="StatusCode" type="StatusCodeTypeShape" />
      <xsd:element minOccurs="0" name="MessageSetID" type="MessageSetIDTypeShape" />
      <xsd:element minOccurs="0" name="MessageID" type="MessageIDTypeShape" />
      <xsd:element minOccurs="0" name="DefaultMessage" type="DefaultMessageTypeShape" />
      <xsd:element minOccurs="0" name="MessageParameters" type="MessageParametersComplexTypeShape" />
    </xsd:sequence>
    <xsd:attribute name="type" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DefaultTitleTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="DefaultTitleTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StatusCodeTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="StatusCodeTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MessageSetIDTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="MessageSetIDTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MessageIDTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="MessageIDTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DefaultMessageTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="DefaultMessageTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MessageParametersComplexTypeShape">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="keyinformation" type="keyinformationComplexTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="keyinformationComplexTypeShape">
    <xsd:sequence>
      <xsd:element name="LM_PERSON_ID" type="LM_PERSON_IDTypeShape" />
      <xsd:element minOccurs="0" name="LM_CRSE_CODE" type="LM_CRSE_CODETypeShape" />
      <xsd:element minOccurs="0" name="LM_CS_LONG_NM" type="LM_CS_LONG_NMTypeShape" />
      <xsd:element minOccurs="0" name="DESCR" type="DESCRTypeShape" />
      <xsd:element minOccurs="0" name="LM_DM_LONG_NM" type="LM_DM_LONG_NMTypeShape" />
      <xsd:element minOccurs="0" name="DESCR1" type="DESCR1TypeShape" />
      <xsd:element minOccurs="0" name="LM_ACT_ID" type="LM_ACT_IDTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LM_PERSON_IDTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="LM_PERSON_IDTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LM_CRSE_CODETypeShape">
    <xsd:simpleContent>
      <xsd:extension base="LM_CRSE_CODETypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LM_CS_LONG_NMTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="LM_CS_LONG_NMTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DESCRTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="DESCRTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LM_DM_LONG_NMTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="LM_DM_LONG_NMTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DESCR1TypeShape">
    <xsd:simpleContent>
      <xsd:extension base="DESCR1TypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LM_ACT_IDTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="LM_ACT_IDTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DefaultTitleTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StatusCodeTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MessageSetIDTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MessageIDTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DefaultMessageTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LM_PERSON_IDTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LM_CRSE_CODETypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LM_CS_LONG_NMTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DESCRTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LM_DM_LONG_NMTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DESCR1TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LM_ACT_IDTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="10" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>