OneC.OnBoarding/OneC.OnBoarding.WebApp/Backup5/Service References/ELMService/M993015.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/M993015.V1" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M993015.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Updatedata__CompIntfc__CT_ELM1CResponse" type="Updatedata__CompIntfc__CT_ELM1CResponseTypeShape" />
  <xsd:complexType name="Updatedata__CompIntfc__CT_ELM1CResponseTypeShape">
    <xsd:sequence>
      <xsd:element name="notification" type="notificationTypeShape" />
      <xsd:element minOccurs="0" name="detail" type="detailComplexTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="notificationTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="notificationTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="detailComplexTypeShape">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="messages" type="messagesComplexTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="messagesComplexTypeShape">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="typeTypeShape" />
      <xsd:element minOccurs="0" name="messagesetnumber" type="messagesetnumberTypeShape" />
      <xsd:element minOccurs="0" name="messagenumber" type="messagenumberTypeShape" />
      <xsd:element minOccurs="0" name="messagetext" type="messagetextTypeShape" />
      <xsd:element minOccurs="0" name="explaintext" type="explaintextTypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="typeTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="typeTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="messagesetnumberTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="messagesetnumberTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="messagenumberTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="messagenumberTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="messagetextTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="messagetextTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="explaintextTypeShape">
    <xsd:simpleContent>
      <xsd:extension base="explaintextTypeDef" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="notificationTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="typeTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="messagesetnumberTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="messagenumberTypeDef">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="messagetextTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="explaintextTypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>