OneC.OnBoarding/OneC.OnBoarding.WebApp/Backup/OneC.OnBoarding.WebApp/Service References/Service.CandidateServices/service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/DashBoardDC/" elementFormDefault="qualified" targetNamespace="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/DashBoardDC/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DashBoardDataPagination">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApprovalDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="PageSize" type="xs:long" />
          <xs:element minOccurs="0" name="PageNo" type="xs:long" />
          <xs:element minOccurs="0" name="RowNumber" type="xs:long" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:long" />
          <xs:element minOccurs="0" name="Excel" type="xs:long" />
          <xs:element minOccurs="0" name="PreJoiningCount" type="xs:long" />
          <xs:element minOccurs="0" name="PostJoiningCount" type="xs:long" />
          <xs:element minOccurs="0" name="ProcessId" type="xs:long" />
          <xs:element minOccurs="0" name="LaptopCount" type="xs:long" />
          <xs:element minOccurs="0" name="CellPhoneCount" type="xs:long" />
          <xs:element minOccurs="0" name="BlackberryCount" type="xs:long" />
          <xs:element minOccurs="0" name="ClientEquipmentCount" type="xs:long" />
          <xs:element minOccurs="0" name="CheckCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataCardCount" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DashBoardDataPagination" nillable="true" type="tns:DashBoardDataPagination" />
  <xs:complexType name="ApprovalDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupType" type="xs:int" />
      <xs:element minOccurs="0" name="TrackingInfo" type="xs:int" />
      <xs:element minOccurs="0" name="RequestStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="RequestApprovedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PendingTo" type="xs:int" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="RequestStatusDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Laptop" type="xs:int" />
      <xs:element minOccurs="0" name="Cellphone" type="xs:int" />
      <xs:element minOccurs="0" name="Blackberry" type="xs:int" />
      <xs:element minOccurs="0" name="CandidateId" type="xs:long" />
      <xs:element minOccurs="0" name="SessionId" type="xs:long" />
      <xs:element minOccurs="0" name="LaptopApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="CellphoneApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="BlackberryApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="ContractorEquipment" type="xs:int" />
      <xs:element minOccurs="0" name="ContractorEquipmentApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="BlackberryZ10" type="xs:int" />
      <xs:element minOccurs="0" name="Samsungs3" type="xs:int" />
      <xs:element minOccurs="0" name="Samsungs4" type="xs:int" />
      <xs:element minOccurs="0" name="Samsungs5" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungNote3" type="xs:int" />
      <xs:element minOccurs="0" name="Iphone4S" type="xs:int" />
      <xs:element minOccurs="0" name="IPhone5C" type="xs:int" />
      <xs:element minOccurs="0" name="IPhone5S" type="xs:int" />
      <xs:element minOccurs="0" name="BlackberryZ10ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS3ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS4ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS5ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungNote3ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="IPhone4SApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="IPhone5SApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="IPhone5CApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="LGG2ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="LGG2" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungNote4" type="xs:int" />
      <xs:element minOccurs="0" name="Iphone6" type="xs:int" />
      <xs:element minOccurs="0" name="IPhone6p" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungNote4ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="IPhone6ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="IPhone6PApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="LGG3" type="xs:int" />
      <xs:element minOccurs="0" name="LGG3ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS632GB" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS632GBApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS664GB" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS664GBApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS6128GB" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS6128GBApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS6Edge32GB" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS6Edge32GBApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS6Edge64GB" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS6Edge64GBApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS6Edge128GB" type="xs:int" />
      <xs:element minOccurs="0" name="SamsungS6Edge128GBApproverId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApprovalDetails" nillable="true" type="tns:ApprovalDetails" />
  <xs:complexType name="BgvNHDashboardData">
    <xs:sequence>
      <xs:element name="CandidateId" type="xs:long" />
      <xs:element name="SessionId" type="xs:long" />
      <xs:element minOccurs="0" name="CanShowBgvTab" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanShowPreJoiningTab" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanShowPostJoiningTab" type="xs:boolean" />
      <xs:element minOccurs="0" name="HtmlForCisInProgress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CisStatus" type="xs:int" />
      <xs:element minOccurs="0" name="CanShowHTransferTab" type="xs:boolean" />
      <xs:element minOccurs="0" name="HtmlForHTransferInProgress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BgvNHDashboardData" nillable="true" type="tns:BgvNHDashboardData" />
  <xs:complexType name="TotalCountDC">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TotalCountDC" nillable="true" type="tns:TotalCountDC" />
</xs:schema>