OneC.OnBoarding/OneC.OnBoarding.WebApp/OneC.OnBoarding.WebApp/Service References/Service.CandidateServices/CandidateServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/DashBoardDC/" elementFormDefault="qualified" targetNamespace="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/DashBoardDC/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DashBoardDataPagination">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApprovalDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="PageSize" type="xs:long" />
          <xs:element minOccurs="0" name="PageNo" type="xs:long" />
          <xs:element minOccurs="0" name="RowNumber" type="xs:long" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:long" />
          <xs:element minOccurs="0" name="Excel" type="xs:long" />
          <xs:element minOccurs="0" name="PreJoiningCount" type="xs:long" />
          <xs:element minOccurs="0" name="PostJoiningCount" type="xs:long" />
          <xs:element minOccurs="0" name="ProcessId" type="xs:long" />
          <xs:element minOccurs="0" name="LaptopCount" type="xs:long" />
          <xs:element minOccurs="0" name="CellPhoneCount" type="xs:long" />
          <xs:element minOccurs="0" name="BlackberryCount" type="xs:long" />
          <xs:element minOccurs="0" name="ClientEquipmentCount" type="xs:long" />
          <xs:element minOccurs="0" name="CheckCountry" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DashBoardDataPagination" nillable="true" type="tns:DashBoardDataPagination" />
  <xs:complexType name="ApprovalDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupType" type="xs:int" />
      <xs:element minOccurs="0" name="TrackingInfo" type="xs:int" />
      <xs:element minOccurs="0" name="RequestStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="RequestApprovedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PendingTo" type="xs:int" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="RequestStatusDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Laptop" type="xs:int" />
      <xs:element minOccurs="0" name="Cellphone" type="xs:int" />
      <xs:element minOccurs="0" name="Blackberry" type="xs:int" />
      <xs:element minOccurs="0" name="CandidateId" type="xs:long" />
      <xs:element minOccurs="0" name="SessionId" type="xs:long" />
      <xs:element minOccurs="0" name="LaptopApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="CellphoneApproverId" type="xs:int" />
      <xs:element minOccurs="0" name="BlackberryApproverId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApprovalDetails" nillable="true" type="tns:ApprovalDetails" />
  <xs:complexType name="BgvNHDashboardData">
    <xs:sequence>
      <xs:element name="CandidateId" type="xs:long" />
      <xs:element name="SessionId" type="xs:long" />
      <xs:element minOccurs="0" name="CanShowBgvTab" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanShowPreJoiningTab" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanShowPostJoiningTab" type="xs:boolean" />
      <xs:element minOccurs="0" name="HtmlForCisInProgress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CisStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BgvNHDashboardData" nillable="true" type="tns:BgvNHDashboardData" />
</xs:schema>