OneC.OnBoarding/OneC.OnBoarding.WebApp/OneC.OnBoarding.WebApp/Service References/Service.CandidateServices/CandidateServices6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/UtilityDC/" elementFormDefault="qualified" targetNamespace="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/UtilityDC/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OBFaultContractFC">
    <xs:sequence>
      <xs:element name="FaultSource" nillable="true" type="xs:string" />
      <xs:element name="FaultMessage" nillable="true" type="xs:string" />
      <xs:element name="FaultStack" nillable="true" type="xs:string" />
      <xs:element name="FaultInnerException" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OBFaultContractFC" nillable="true" type="tns:OBFaultContractFC" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="CountryId" type="xs:int" />
      <xs:element name="CountryDescription" nillable="true" type="xs:string" />
      <xs:element name="Mode" type="xs:int" />
      <xs:element name="ParentId" type="xs:int" />
      <xs:element name="CandidateId" type="xs:int" />
      <xs:element name="CoveragAmount_x0020_" nillable="true" type="xs:string" />
      <xs:element name="Premium_x0020_" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
</xs:schema>