702/BuddyBLL/Service References/ExepetionLoginService/Logging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://onecognizantcoresrvs.cognizant.com/ExceptionLogging/Logging.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CTS.OneC.LoggingService" />
  <xs:element name="LogError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stackTrace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CTS.OneC.LoggingService" minOccurs="0" name="applicationType" type="q1:ApplicationType" />
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="globalAppId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CTS.OneC.LoggingService" minOccurs="0" name="objExceptionLog" nillable="true" type="q2:ExceptionLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CTS.OneC.LoggingService" minOccurs="0" name="objExceptionLog" nillable="true" type="q3:ExceptionLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>