702/BuddyBLL/Service References/ExepetionLoginService/Logging.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Logging" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ILogging_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://onecognizantcoresrvs.cognizant.com/ExceptionLogging/Logging.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://onecognizantcoresrvs.cognizant.com/ExceptionLogging/Logging.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://onecognizantcoresrvs.cognizant.com/ExceptionLogging/Logging.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://onecognizantcoresrvs.cognizant.com/ExceptionLogging/Logging.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CTS.OneC.LoggingService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogging_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:LogError" />
  </wsdl:message>
  <wsdl:message name="ILogging_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ILogging_LogError_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="ILogging_LogException_InputMessage">
    <wsdl:part name="parameters" element="tns:LogException" />
  </wsdl:message>
  <wsdl:message name="ILogging_LogException_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="ILogging_LogException_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:message name="ILogging_LogInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInformation" />
  </wsdl:message>
  <wsdl:message name="ILogging_LogInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ILogging_LogInformation_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
  </wsdl:message>
  <wsdl:portType name="ILogging">
    <wsdl:operation name="LogError">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogging/LogError" message="tns:ILogging_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogging/LogErrorResponse" message="tns:ILogging_LogError_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILogging/LogErrorExceptionFault" name="ExceptionFault" message="tns:ILogging_LogError_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogException">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogging/LogException" message="tns:ILogging_LogException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogging/LogExceptionResponse" message="tns:ILogging_LogException_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILogging/LogExceptionExceptionFault" name="ExceptionFault" message="tns:ILogging_LogException_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogging/LogInformation" message="tns:ILogging_LogInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogging/LogInformationResponse" message="tns:ILogging_LogInformation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILogging/LogInformationExceptionFault" name="ExceptionFault" message="tns:ILogging_LogInformation_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ILogging" type="tns:ILogging">
    <wsp:PolicyReference URI="#WSHttpBinding_ILogging_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogError">
      <soap12:operation soapAction="http://tempuri.org/ILogging/LogError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogException">
      <soap12:operation soapAction="http://tempuri.org/ILogging/LogException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogInformation">
      <soap12:operation soapAction="http://tempuri.org/ILogging/LogInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Logging">
    <wsdl:port name="WSHttpBinding_ILogging" binding="tns:WSHttpBinding_ILogging">
      <soap12:address location="http://onecognizantcoresrvs.cognizant.com/ExceptionLogging/Logging.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://onecognizantcoresrvs.cognizant.com/ExceptionLogging/Logging.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>