OneC.OnBoarding/OneC.OnBoarding.WebApp/Backup1/Service References/Service.DashBoardServices/DashBoardServices717.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/UtilityDC/" elementFormDefault="qualified" targetNamespace="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/UtilityDC/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OBFaultContractFC">
    <xs:sequence>
      <xs:element name="FaultSource" nillable="true" type="xs:string" />
      <xs:element name="FaultMessage" nillable="true" type="xs:string" />
      <xs:element name="FaultStack" nillable="true" type="xs:string" />
      <xs:element name="FaultInnerException" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OBFaultContractFC" nillable="true" type="tns:OBFaultContractFC" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element name="CityCode" nillable="true" type="xs:string" />
      <xs:element name="CityId" type="xs:int" />
      <xs:element name="CityDescription" nillable="true" type="xs:string" />
      <xs:element name="StateId" type="xs:int" />
      <xs:element name="CountryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
</xs:schema>