OneC.OnBoarding/OneC.OnBoarding.WebApp/OneC.OnBoarding.WebApp/Service References/Service.DashBoardServices/DashBoardServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/CandidateDC/" elementFormDefault="qualified" targetNamespace="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/CandidateDC/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50555/ServiceHost/DashBoardServices.svc?xsd=xsd3" namespace="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/DashBoardDC/" />
  <xs:import schemaLocation="http://localhost:50555/ServiceHost/DashBoardServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.CandidateDC" />
  <xs:complexType name="CandidateDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://onecognizant.cognizant.com/OnBoardingService/DataContracts/DashBoardDC/" base="q1:DashBoardDataPagination">
        <xs:sequence>
          <xs:element minOccurs="0" name="CandidateId" type="xs:long" />
          <xs:element name="LoginId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
          <xs:element minOccurs="0" name="CandidateFName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CandidateEmailId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CandidateType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProcessID" type="xs:int" />
          <xs:element minOccurs="0" name="CandidateMobileNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CandidateDOJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OfferExtendedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CandOfferStatus" type="xs:short" />
          <xs:element minOccurs="0" name="CandDIMStatus" type="xs:int" />
          <xs:element minOccurs="0" name="ReasonForReject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkLocation" type="xs:int" />
          <xs:element minOccurs="0" name="CountryID" type="xs:int" />
          <xs:element minOccurs="0" name="StateCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsFirstTimeLogin" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPreJoiningFormalitiesCompleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPostJoiningFormalitiesCompleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAccessAllowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="ConvenientTimeToReach" type="xs:int" />
          <xs:element minOccurs="0" name="Requisition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RecruiterID" type="xs:int" />
          <xs:element minOccurs="0" name="ShowUpdateDiv" type="xs:int" />
          <xs:element minOccurs="0" name="RecruiterName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaperWorkStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CandidateOfferStatusDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesignationDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CandidateLName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CandidateMName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WelcomeMailStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CandidateAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LevelOfHire" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CandSeatNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CityId" type="xs:long" />
          <xs:element minOccurs="0" name="CountryCityDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResendMail" type="xs:int" />
          <xs:element minOccurs="0" name="Mode" type="xs:int" />
          <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Jobcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lapTopCount" type="xs:int" />
          <xs:element minOccurs="0" name="laptopBlackBerryCount" type="xs:int" />
          <xs:element minOccurs="0" name="CandidateJoiningStatus" type="xs:short" />
          <xs:element minOccurs="0" name="SoWorkLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RedirectionUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HiringManagerId" type="xs:long" />
          <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DOJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OExtendedDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartmentGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ESAWorkLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssetType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssetRequestStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionId" type="xs:long" />
          <xs:element minOccurs="0" name="TimelineStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainingId" type="xs:int" />
          <xs:element minOccurs="0" name="LaptopRequestStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BlackberryRequestStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CellPhoneRequestStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShippingAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GradeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StateDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupervisorId" type="xs:int" />
          <xs:element minOccurs="0" name="SupervisorName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Skills" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EducationLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YOP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreviousEmployer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Institution" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CandidateTypeDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HireStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Experience" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampusLoc1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampusLoc2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AppFormStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UGDiscipline" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UGGrade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UGUniversity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PGDiscipline" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PGGrade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PGUniversity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XMarks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XIIMarks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryEmailID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameOnIDCard" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Filter" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FileUploadStatusDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PracticeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartmentDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OSWorkLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LapTop" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BlackBerry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParamLapTop" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodeId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Flag" type="xs:int" />
          <xs:element minOccurs="0" name="TaskId" type="xs:int" />
          <xs:element minOccurs="0" name="ClientEquipmentRequestStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MigratedCandidate" type="xs:short" />
          <xs:element minOccurs="0" name="CUserDefined1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUserDefined2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fedex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampusJoiningVenue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampusReportingTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampusJoiningLocation" type="xs:int" />
          <xs:element minOccurs="0" name="DateIntimationMailStatus" type="xs:int" />
          <xs:element minOccurs="0" name="DateIntimationStatus" type="xs:int" />
          <xs:element minOccurs="0" name="DimMailerStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSurveyAllowed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SurveyUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssetApproval" type="xs:int" />
          <xs:element minOccurs="0" name="AssetApprovalFlag" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CandidateDetail" nillable="true" type="tns:CandidateDetail" />
  <xs:complexType name="ArrayOfCandidateDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CandidateDetail" nillable="true" type="tns:CandidateDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCandidateDetail" nillable="true" type="tns:ArrayOfCandidateDetail" />
  <xs:complexType name="CandidateTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="CandidateDetails" nillable="true" type="tns:CandidateDetail" />
      <xs:element minOccurs="0" name="TaskDetails" nillable="true" type="tns:ArrayOfTaskDetails" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.CandidateDC" minOccurs="0" name="OfferStatusMaster" nillable="true" type="q2:ArrayOfOfferStatusDC" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.CandidateDC" minOccurs="0" name="JoiningStatusMaster" nillable="true" type="q3:ArrayOfJoiningStatusDC" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.CandidateDC" minOccurs="0" name="AssetStatusMaster" nillable="true" type="q4:ArrayOfAssetStatusDC" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.CandidateDC" minOccurs="0" name="CandAssetStatus" nillable="true" type="q5:ArrayOfCandAssetStatusDC" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.CandidateDC" minOccurs="0" name="TrainingList" nillable="true" type="q6:ArrayOfNewHireTrainingDC" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.CandidateDC" minOccurs="0" name="DimStatusMaster" nillable="true" type="q7:ArrayOfDimStatusDC" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.CandidateDC" minOccurs="0" name="LocationMaster" nillable="true" type="q8:ArrayOfLocationDC" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.CandidateDC" minOccurs="0" name="CampusReportingTimeMaster" nillable="true" type="q9:ArrayOfCampusReportingTimeDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CandidateTask" nillable="true" type="tns:CandidateTask" />
  <xs:complexType name="ArrayOfTaskDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskDetails" nillable="true" type="tns:TaskDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskDetails" nillable="true" type="tns:ArrayOfTaskDetails" />
  <xs:complexType name="TaskDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueCompletionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiredTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelativeUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleFormUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReminder" type="xs:int" />
      <xs:element minOccurs="0" name="IsResourceCenter" type="xs:int" />
      <xs:element minOccurs="0" name="FAQUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleFormImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PreviousTaskID" type="xs:int" />
      <xs:element minOccurs="0" name="PreviousTaskStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
      <xs:element minOccurs="0" name="NextTask" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskTotalCount" type="xs:int" />
      <xs:element minOccurs="0" name="TaskPendingCount" type="xs:int" />
      <xs:element minOccurs="0" name="TaskCompeltedCount" type="xs:int" />
      <xs:element minOccurs="0" name="DaysLeft" type="xs:int" />
      <xs:element minOccurs="0" name="TileViewStatusImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaysLeftPercentage" type="xs:float" />
      <xs:element minOccurs="0" name="PersonCount" type="xs:int" />
      <xs:element minOccurs="0" name="TaskPercentage" type="xs:float" />
      <xs:element minOccurs="0" name="PreJoiningCompletedFlag" type="xs:int" />
      <xs:element minOccurs="0" name="PostJoiningCompletedFlag" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAssociateIdGenerated" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessID" type="xs:int" />
      <xs:element minOccurs="0" name="IsLinkEnable" type="xs:int" />
      <xs:element minOccurs="0" name="IsPostEnable" type="xs:int" />
      <xs:element minOccurs="0" name="FlashFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultView" type="xs:int" />
      <xs:element minOccurs="0" name="NHPhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSucessPopUp" type="xs:int" />
      <xs:element minOccurs="0" name="TooltipText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsQuerystringrequired" type="xs:int" />
      <xs:element minOccurs="0" name="IsOverlayrequired" type="xs:int" />
      <xs:element minOccurs="0" name="IsPreJoiningTabEnabled" type="xs:int" />
      <xs:element minOccurs="0" name="IsPostJoiningTabEnabled" type="xs:int" />
      <xs:element minOccurs="0" name="IsExternalURL" type="xs:int" />
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskDetails" nillable="true" type="tns:TaskDetails" />
</xs:schema>