OneC.OnBoarding/OneC.OnBoarding.WebApp/OneC.OnBoarding.WebApp/Service References/Service.DashBoardServices/DashBoardServices8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.UtilityDC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OneC.OnBoarding.DC.UtilityDC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AutoCompleteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoCompleteDC" nillable="true" type="tns:AutoCompleteDC" />
  <xs:simpleType name="RoleGroup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoRole" />
      <xs:enumeration value="RC" />
      <xs:enumeration value="HRSS" />
      <xs:enumeration value="TM" />
      <xs:enumeration value="IM" />
      <xs:enumeration value="NSS" />
      <xs:enumeration value="NH" />
      <xs:enumeration value="ADMIN" />
      <xs:enumeration value="ASM" />
      <xs:enumeration value="OEPM" />
      <xs:enumeration value="SU" />
      <xs:enumeration value="VENDOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoleGroup" nillable="true" type="tns:RoleGroup" />
</xs:schema>